.header_banner {
    height: 50px;
    width: 100%;
    background-color: #e32942;
    display: block;
}
header {
    width: 100vw;
    box-shadow: 1px 1px 1px #d5caca;
    box-sizing: border-box;
    position: sticky;
    background-color: #ffffff;
    top: 0px;
    z-index: 100;
    .header_center {
        width: auto;
        /* height: 50px; */
        display: flex;
        margin: 10px;
        position: relative;
        box-shadow: 0px 1px 1px #d5caca;
        .header_left {
            .header_logo {
                width: 20%;
                height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 20px;
                position: absolute;
                left: 100px;
                top: 12px;
            }
            .header_search {
                width: 95vw;
                height: inherit;
                display: flex;
                input[type="text"] {
                    background-color: #ededed;
                    outline: none;
                    border: none;
                    width: 600px;
                    height: 45px;
                    font-size: 14px;
                    border-radius: 5px;
                    justify-content: center;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    padding-left: 20px;
                }
            }
        }
        .header_login {
            display: none;
        }
    }
    .header_bottom {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .header_top {
        height: 50px;
        background-color: #cf4529;
        display: block;
    }
    header {
        width: auto;
        .header_center {
            box-shadow: none;
            padding: 12px 16px;
            margin: 0;
            width: auto;
            align-items: center;
            .header_left {
                display: flex;
                flex: 1 1 0%;
                align-items: center;
                .header_logo {
                    /* width: 20%; */
                    width: auto;
                    /* height: inherit; */
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding-right: 20px;
                    position: static;
                }
                .header_search {
                    /* width: 60vw; */
                    width: auto;
                    height: inherit;
                    display: flex;
                    position: static;
                    input[type="text"] {
                        background-color: #f0f0f1;
                        outline: none;
                        border: none;
                        width: 600px;
                        height: 45px;
                        font-size: 14px;
                        border-radius: 5px;
                        justify-content: center;
                        margin-top: 5px;
                        padding-left: 20px;
                        &::placeholder {
                            color: #81858b;
                        }
                    }
                }
            }
            .header_login {
                width: auto;
                /* width: 20vw; */
                height: auto;
                /* margin-top: 5px; */
                display: flex;
                align-content: center;
                a {
                    height: auto;
                    background-color: #fff;
                    box-sizing: border-box;
                    border-radius: 5px;
                    text-align: center;
                    border: 1px solid #c3bebe;
                    text-decoration: none;
                    color: rgb(12, 12, 12);
                    display: flex;
                    column-gap: 10px;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 0 15px;
                    svg {
                        fill: #6c6868;
                        transform: rotate(180deg);
                    }
                    span {
                        display: flex;
                        width: max-content;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                    }
                }
                .pipe {
                    width: 2px;
                    height: 30px;
                    background-color: #e0e0e2;
                    margin: 5px 20px 0px 15px;
                    justify-content: center;
                }
                svg {
                    fill: #6c6868;
                }
                .cart {
                    display: inline-block;
                    margin-top: 10px;
                }
            }
        }
        .header_bottom {
            width: auto;
            flex-flow: row nowrap;
            column-gap: 15px;
            margin-top: 0;
            display: flex;
            align-items: center;
            padding: 0 16px;
            justify-content: space-between;
            .header_bottom_menu {
                display: flex;
                flex-flow: row nowrap;
                nav {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    column-gap: 20px;
                    .nav_menu {
                        /* width: fit-content; */
                        display: flex;
                        position: relative;
                        column-gap: 20px;
                        /* background-color: #cf4529; */
                        padding: 10px 0;
                        &:hover .sub_menu {
                            display: block;
                        }
                        >a {
                            display: flex;
                            text-decoration: none;
                            line-height: 15px;
                            font-size: 13px;
                            text-transform: capitalize;
                        }
                        .active {
                            display: flex !important;
                            align-items: center;
                            flex-flow: row wrap;
                            font-size: 16px !important;
                            font-weight: bold !important;
                            svg {
                                padding-right: 5px;
                                transform: scale(0.9, 0.9);
                                fill: #9b9393;
                            }
                        }
                        .active_sub {
                            display: flex;
                            align-items: center;
                            flex-flow: row nowrap;
                            flex-wrap: nowrap;
                            font-size: 13px;
                            font-weight: 400;
                            color: #62666D;
                            span {
                                display: flex;
                            }
                            svg {
                                transform: scale(0.7, 0.7);
                                fill: #9b9393;
                                width: 25px;
                                height: 25px;
                            }
                        }
                        .sub_menu {
                            width: 80vw;
                            height: 70vh;
                            position: absolute;
                            background-color: #fefefd;
                            display: none;
                            left: 0px;
                            top: 40px;
                            box-sizing: border-box;
                            box-shadow: 0 1px 1px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.3);
                            border-radius: 0px 0px 10px 10px;
                            overflow: hidden;

                                /* box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),0 1px 1px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.3);
                             */
                            .submenu_wrapper {
                                width: max-content;
                                background-color: #e7e7ea;
                                overflow: auto;
                                display: flex;
                                flex-flow: column;
                                direction: rtl;
                                height: inherit;
                                .submenu_item_child {
                                    overflow: hidden;
                                    display: flex;
                                    /* position: relative; */
                                    /* background-color: rgb(33, 220, 58); */
                                    justify-content: flex-start;
                                    align-items: center;
                                    padding: 25px 12px;
                                    width: 200px;
                                    direction: ltr;
                                    height: inherit;
                                    column-gap: 7px;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: #fdfdfd;
                                        >a {
                                            color: #ef394e;
                                        }
                                        svg {
                                            fill: #ef394e !important;
                                        }
                                    }
                                    &:hover .submenu_item_grand_child {
                                        display: block;
                                    }
                                    >a {
                                        /* padding-left: 25px; */
                                        color: #3F405E;
                                        /* background-color: #4395e8; */
                                        padding: 10px 10;
                                        display: block;
                                    }
                                    .submenu_item_grand_child {
                                        width: calc(100% - 200px - 24px);
                                        height: inherit;
                                        position: absolute;
                                        /* background-color: rgb(223, 17, 161); */
                                        right: 0;
                                        top: 0;
                                        display: none;
                                        transition-delay: 500ms;
                                        overflow: auto;
                                        overflow-x: hidden;
                                        direction: rtl;
                                        .submenu_child_item_detail {
                                            font-size: 13px;
                                            color: rgb(0, 0, 0);
                                            /* background-color: rgb(136, 219, 136); */
                                           
                                            display: flex;
                                            flex-flow: column;
                                            padding: 20px 20px 20px;
                                            row-gap: 20px;
                                            direction: ltr;
                                            .submenu_child_item_detail-header {
                                                font-size: 17px;
                                                color: #008eb2;
                                                font-weight: bold;
                                            }
                                            .submenu_child_item_detail-body {
                                                display: flex;
                                                flex-flow: row;
                                                >ul {
                                                    display: flex;
                                                    flex-flow: column;
                                                    row-gap: 10px;
                                                    width: 25%;
                                                    &:hover {
                                                        color: #ef394e;
                                                    }
                                                    .list-menu-header {
                                                        display: flex;
                                                        justify-content: space-between;
                                                        font-size: 16px;
                                                        font-weight: bold;
                                                    }
                                                    .detail {
                                                        font-size: 15px;
                                                        color: #535559;
                                                        padding: 3px;
                                                        &:hover {
                                                            color: #ef394e;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .header_bottom_city {
                width: 15%;
                height: inherit;
                display: flex;
                justify-content: flex-end;
                .city {
                    font-size: 14px;
                    color: #62666D;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: capitalize;
                    svg {
                        fill: #9b9393;
                        transform: scale(0.7, 0.7);
                    }
                }
            }
        }
    }
}