.support-icon {
    position: fixed;
    bottom: 50px;
    right: 70px;
    z-index: 999;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }
}