.special-amazing {
    width: 100%;
    overflow-x: hidden;
    /* padding: 0px 16px; */

    .special-amazing-main {

        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        flex-flow: column;
       
        border-radius: 10px;


        .special-amazing-header {
            width: 100%;

            /*   background-color: aquamarine; */
            font-size: 20px;
            font-weight: bold;
            padding: 10px;
            display: flex;
            align-items: center;
            column-gap: 5px;

            svg {
                fill: #ff009c;
            }
        }

        .special-amazing-content {


            background-color: rgb(238, 236, 234);
            margin: 15px;

            .swiper {
                width: 100%;
                height: 100%;
            }

            .swiper-slide {

                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-flow: column;
                row-gap: 25px;
                padding: 0px 20px;
                flex-shrink: 1;

                .special-amazing-swiper-header {
                    font-size: 15px;
                    color: #ff009c;
                    font-weight: 500;
                }

                .special-amazing-swiper-pic {
                    width: 100px;
                    height: 100px;
                }

                .special-amazing-swiper-text {
                    font-size: 14px;
                }

                .special-amazing-swiper-price {

                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    font-weight: bold;
                    font-size: 14px;

                    .off {
                        color: whitesmoke;
                        background-color: #d32f2f;
                        font-size: 12px;
                        align-items: end;
                        width: 30px;
                        text-align: center;
                        padding: 3px;
                        border-radius: 16px;
                        font-weight: bold;

                    }
                }

                .special-amazing-swiper-footer {
                    width: 100%;

                    .special-amazing-swiper-footer-progress {
                        width: 100%;
                        height: 4px;
                        background-color: #adadad;
                        border-radius: 999px;

                        .active {
                            background-color: #d32f2f;
                            border-radius: 999px;
                            width: 50%;
                            height: 100%;

                        }

                    }

                    .special-amazing-swiper-footer-time {
                        >span {
                            font-size: 14px;
                            color: #d32f2f;


                        }
                    }
                }
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
}


@media only screen and (min-width: 768px) {
    .special-amazing {

        .special-amazing-main {
            margin: 0 auto;

            .special-amazing-header {
                font-size: 26px;
            }

            .special-amazing-content {
                .swiper-slide {
                    row-gap: 25px;
                    padding: 0px 20px;
                    flex-shrink: 0;

                    .special-amazing-swiper-header {
                        font-size: 20px;

                        font-weight: 700;
                    }

                    .special-amazing-swiper-text {
                        font-size: 14px;
                    }

                    .special-amazing-swiper-pic {
                        width: 150px;
                        height: 150px;
                    }

                    .special-amazing-swiper-price {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}